certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.3
cmake==3.21.4
colorama==0.4.4
Flask==2.0.2
flask-ngrok==0.0.25
gevent==21.8.0
greenlet==1.1.2
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
jsonpickle==2.0.0
MarkupSafe==2.0.1
numpy==1.21.4
Pillow==8.4.0
pycparser==2.21
requests==2.26.0
urllib3==1.26.7
Werkzeug==2.0.2
zope.event==4.5.0
zope.interface==5.4.0
opencv-python==4.1.2.30
opencv-contrib-python==4.1.2.30